<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Cover</title>
  </head>
  <body>
    <div>
    <h1>Book Cover for : <%= searchBook %></h1>
     <img src=<%=src[0].thumbnail%> >
     <img src=<%=src[1].thumbnail%> >
     <img src=<%=src[2].thumbnail%> >
     <img src=<%=src[3].thumbnail%> >
    </div>
  </body>
</html>
